<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.knime.workbench.repository.nodes">
      <node
            factory-class="org.uwwitscm.analytics.kmeans.UWWKmeansNodeFactory"
            icon="./icons/default.png"
            category-path="/community/uww-analytics"/>
   </extension>

</plugin>
